APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:dr/QDU0xeDu5ZOZLDUoHJ2LLijKrZTpydEQkm7H3jVM=
APP_DEBUG=true
APP_URL=http://host.academy.docker:8085
AUTHORIZATION_APP_URL=http://host.docker.internal:8081/public/index.php
PAINEL_APP_URL=http://host.docker.internal:8081/public/index.php
FALLBACK_APP_URL=http://host.core.docker:8082/public
SCHEDULING_LIBRARY_URL=nans-apps-php:80/nans-schedule-app
APP_LOGIN_ROUTE=/public/login
APP_ID=2

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=nans-mysql
DB_PORT=3306
DB_DATABASE=template_saas
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

AUTHORIZATION_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAt7AfFOeCOaIjABbqNArB
f+mJHj9Ix4cQxbZRHf520R82jV1CK/mjEhKEutMIvcMYYfG95MiMzE/pH4Vf7ahr
AYQCKEk/UQaDhvwXX8loQLMmckP1t+TJ960sopa51fsaCYBDsFWJM1bItZmziakI
y0nqTvtUIWExFt+AyRL8mRd+ufwGtids2NugzWK3JDMU3kPzW9DpcI/SlUe8+um7
RsjMXUDE4THhrwDRiKQX4+pFaSHdOcovqhrEx0Pc0t0xGhpzrmosCqKe68Grxyui
RExotz1mgR6BDbc1vdGzJdHpk3oGSJCExrC2J7W7lmkjEzN6QrgrF5T/0M8NAuIP
RdDrYBp14Z9hdiFcGIsNeGFoFg1oaywOHTcUJbfcK8UpiWl+mxuETq+wlKOrNPSi
NOlIPKdMxg8jv/t6qppf1CzfJV36CpYPZb69EfwoCYQ1gqb5NyVvz8uGXEiB8ttc
s1IP/S/dkYmPykAk3CEVvL8MUgSAUsnfuEXPfRq8SxzRTkEXl48v2yZnO6/AfQ6e
roM2yMudpGCuaribzz8yCGGMtrWZsTjIZV5RBMNk1HEsZXwWXw1YqU73C7oLOj1b
53ustbaKeNaRoxIy6vgDmO+8KiyPkg9mYCEvm8GQRQa5w+GMYDKwhnpN5MDTxZOR
mG8wn4WLUgC+7Q1NEbEou4kCAwEAAQ==
-----END PUBLIC KEY-----"

PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAuw9laOD5w6yMpRd1GAuF
fgDubu6hhqdNU2DkO2L5Zf/IKLUJgLedZY5KogtTRTEIaK4kz0eK/VMV6LbyhgyG
VJ1sAWu7B8RPPAe+bKenC2D0VPPJKPQShiBj18V6W8SMIt8z7ue/IXJ5ezjfCwLk
hkiYAxnw+jKRbHVQnj6WhdeKa5ViWB07n2JRY2YOdlAlzU8JaRhPz2KAaVUQs98S
NwNvJYmFp/THA5HTLdBbLd+cXYpoB6qOC0ssq2dGmf1dYtdk7NC4Mq7FUTJooYaZ
+LRecZDPQAwLGAIkGda3/d7ujj5xkaXCwA2/Xe6Eh1b7Pf69j0b991K6699FyDrs
gERc0yXbHveEQn8BU/f4RvySaEMkq9cz1JiWynOzgHAOONVkr7Z9NkMMpZ5GAPov
GQOPX1DOyEXIr4sIiax0TaRQ2Xzs5yK4YufTLGVFy7reND0AtwuLaIfafy1cHUwr
I9DURKO0bQsLFIgA/+jHSnsATPnz7mwdBA+M2lqdFbVdTR0OCtjRFanFc3MPDrqF
yMakx4Qb7RVHj2Pq1yLVf75PD/yRzc6qUTylDnlTaDrjG805RmSE2xsHdHDszvSc
/rZ4D4Als/G4eanFtVF1O3OdS5zYMwtuYc+Y3W+WaDE5popU0wBNXZ8fCAve4v8k
tWDbcaiXl70+8Sjpf6nanEECAwEAAQ==
-----END PUBLIC KEY-----"

PRIVATE_KEY=""